body {
    background-color: #999;
    text-align: center;
}

img {
    background-size: 200px;
}

h1, p {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.box {
    vertical-align: bottom;
    background-color: white;
    margin: 300px 5px 0;
    display: inline-block;
}

.box.red {color: orangered;}
.box.blue {color: dodgerblue;}
.box.green {color: green;}

.box-cat {
    margin-top: -300px;
}

.box-contents {
    padding:20px;
    height: 250px;
}

.box-contents h1 {
    background-color: antiquewhite;
    border-top: 5px solid;
    border-bottom: 5px solid;
    margin-bottom: 10px;
    display: inline-block;
}

.box-contents p {
    text-align: left;
    color: #999;
    padding: 15px;
}

.box-footer {
        background-color: #efefef;
        padding: 20px;
}

.button {
    background-color: currentColor;
    padding: 13px 20px;
    display: inline-block;
    letter-spacing: 3px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.3);
}

.button:active {
    border-bottom: 0;
    margin-top: 3px;
}

.button span {
    color: white;
}
